@media (max-width: 575px) {
	.menu-nav_active {
		a {
			padding: 18px 0;
		}
	}

	.main__header p {
		font-size: $font-sz-lg - 4px;
	}

	.main__profit {
		span {
			margin-top: 10px;
			font-size: 34px - 8px;
		}
		p {
			min-width: 150px;
			font-size: 10px;
		}
	}
	.card {
		flex-wrap: wrap;
	}

	.card__equip {
		h3 {
			font-size: $font-sz-lg - 4px;
		}
		p {
		line-height: 16px			
	}
	}

	.assortment__card {
		width: auto;
		height: 450px;
		padding-bottom: 19px;
	}

	.assortment__content {
		img { 
			width: 100%;
		}	
	}

	.subhead {
		font-size: 26px;
	}

	.offer__header p {
		font-size: $font-sz-lg - 4px;
	}

	.offer__form {
		.input {
			width: 250px;
			margin: 0 auto;
		}
		.button {
			position: inherit;
			right: auto;
			top: auto;
			margin-top: 20px;
			margin-left: auto;		
			margin-right: auto;
		}
	}
}