$font-style-toyota_d: 'ToyotaDisplay', sans-serif;
$font-style-toyota_t: 'ToyotaText', sans-serif;

$font-sz-xs: 14px;
$font-sz-sm: 16px;
$font-sz-md: 18px;
$font-sz-lg: 24px;
$font-sz-xl: 32px;

$color-dark: #333;
$color-light: #fff;
$color-active: #e50000;
$color-hover: #ce0000;
