$font_style: (
	toyota_d: 'ToyotaDisplay' sans-serif,
	toyota_t: 'ToyotaText' sans-serif
);

$font_sz: (
	xs: 14px,
	sm: 16px,
	md: 18px,
	lg: 24px,
	xl: 32px
);

$color: (
	dark: #333,
	light: #fff,
	active: #e50000,
	hover: #ce0000
);
