@import url(block/system/normalize.css);
@import url(block/system/bootstrap-grid.min.css);
@import url(../font/ToyotaDisplay/toyotadisplay.css);
@import url(../font/ToyotaText/toyotatext.css);
@import url(../font/PTSans/ptsans.css);
* {
  box-sizing: border-box; }
  *:focus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0; }

a {
  cursor: pointer; }

h1, h2, h3, h4, a, input, button {
  font-family: "ToyotaDisplay" sans-serif; }

p {
  font-family: "ToyotaText" sans-serif;
  font-weight: 400;
  color: #333; }

@media (min-width: 1200px) {
  .container {
    max-width: 1230px; } }

.navbar {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
  transition: all .75s; }

.menu-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.menu-burger {
  position: relative;
  top: 30px;
  z-index: 1;
  display: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  transition: all 1s; }
  .menu-burger:hover {
    cursor: pointer;
    background-color: #e50000; }
    .menu-burger:hover .burger, .menu-burger:hover .burger::before, .menu-burger:hover .burger::after {
      background-color: #fff; }
    .menu-burger:hover .burger_close {
      background-color: transparent; }

.main {
  max-height: 707px; }
  .main__content {
    padding-top: 73px;
    padding-left: 30px;
    padding-bottom: 40px; }
  .main__profit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main__action {
    padding-top: 15px; }
  .main__offer {
    padding-top: 89px;
    position: relative;
    width: 335px;
    margin-left: auto; }
  .main__img {
    padding-top: 87px; }

.service {
  background: #333; }
  .service__content {
    position: relative;
    height: 100%;
    padding-top: 5px;
    padding-left: 22px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: #fff;
    border-left: 2px solid rgba(255, 255, 255, 0.25);
    transition: all .75s; }
  .service .row:last-child {
    border-right: 2px solid rgba(255, 255, 255, 0.25); }
  .service__content:hover {
    cursor: pointer;
    background: #e50000;
    border-color: transparent;
    border-left: 2px solid rgba(255, 255, 255, 0); }
    .service__content:hover p {
      color: #fff; }
  .service__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }

.assortment {
  padding-top: 30px;
  padding-bottom: 69px; }
  .assortment__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 34px; }
  .assortment__card {
    width: 720px;
    height: 250px; }
  .assortment__more {
    margin-left: auto;
    margin-right: auto; }

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 19px;
  padding-left: 23px;
  background-color: #f0f0f0; }
  .card__offer {
    padding-right: 23px; }

.more {
  width: 150px;
  margin-top: 39px; }

.offer {
  padding-bottom: 70px;
  background-color: #f0f0f0; }

.contact {
  padding-top: 35px; }

.map {
  height: 400px; }

.requisition {
  background-color: #f0f0f0;
  padding: 40px 0; }

.requisition__content {
  margin-top: 54px; }

.footer {
  height: 80px;
  padding-top: 5px;
  background-color: #dadada; }

.main__header h1 {
  padding-top: 20px;
  color: #fff;
  font-size: 32px;
  line-height: 24px; }

.main__header p {
  font-size: 24px;
  line-height: 24px; }

.service__header p {
  font-family: "ToyotaDisplay" sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.25);
  line-height: 24px; }

.service__header h3 {
  padding-left: 10px;
  font-size: 18px;
  text-transform: uppercase; }

.offer__header p {
  margin-top: -15px;
  font-size: 24px;
  line-height: 24px;
  text-align: center; }

.main__profit span {
  display: block;
  margin-top: 16px;
  font-size: 34px; }

.main__profit p {
  position: relative;
  min-width: 220px;
  margin-top: 46px;
  font-family: "ToyotaDisplay" sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 9px;
  text-transform: uppercase; }

.main__action p:last-child {
  max-width: 250px;
  text-align: right; }

.main__offer p {
  padding-left: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

.service__content > p {
  margin-top: 0;
  font-size: 14px;
  color: #fff;
  line-height: 18px; }

.card__equip h3 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
  line-height: 24px; }

.card__equip p {
  margin-top: 0;
  font-size: 18px;
  line-height: 18px; }

.card__offer p {
  line-height: 18px; }

.card__offer span {
  padding-right: 5px; }

.card__offer p:nth-child(1), .card__offer p:nth-child(2) {
  font-family: "ToyotaDisplay" sans-serif;
  color: #e50000;
  font-size: 24px;
  font-weight: 700; }
  .card__offer p:nth-child(1) span, .card__offer p:nth-child(2) span {
    font-family: "ToyotaText" sans-serif;
    font-size: 14px;
    color: #333;
    text-decoration: uppercase; }

.card__offer p:nth-child(3) {
  font-size: 18px;
  font-weight: 700; }
  .card__offer p:nth-child(3) span {
    font-family: "ToyotaDisplay" sans-serif;
    font-size: 16px;
    opacity: .6;
    font-weight: 400; }

.subhead {
  position: relative;
  color: #333;
  font-size: 32px;
  font-weight: 700;
  line-height: 85.99px;
  text-align: center; }

.requisition__content p {
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
  line-height: 22px; }

.footer p {
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
  line-height: 32px; }

.invisible-block {
  display: none; }

.burger {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 25px;
  height: 2px;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  background-color: #333;
  transition: all .5s; }
  .burger::before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    z-index: 1;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #333;
    transition: all .5s; }
  .burger::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    z-index: 1;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #333;
    transition: all .5s; }

.burger_close {
  background-color: transparent; }
  .burger_close::before {
    top: 50%;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .5s; }
  .burger_close::after {
    top: 50%;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all .5s; }

.main::after {
  content: '';
  position: absolute;
  top: 73px;
  right: 0;
  z-index: -2;
  display: block;
  width: 1042px;
  height: 843px;
  background-image: url(../img/style/main-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s; }

.main__header::before {
  content: '';
  position: absolute;
  top: 74px;
  left: 0;
  z-index: -1;
  display: block;
  width: 237px;
  height: 122px;
  background-image: url(../img/style/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main__offer::before {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  width: 333px;
  height: 67px;
  margin-top: 10px;
  background-image: url(../img/style/offer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main__offer::after {
  content: '';
  position: absolute;
  top: 93px;
  z-index: -2;
  display: block;
  width: 316px;
  height: 67px;
  border-left: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 67px solid rgba(51, 51, 51, 0.4);
  -ms-transform: skewY(1deg);
  transform: skewY(1deg); }

.main__profit p::before {
  content: '';
  position: absolute;
  top: -7px;
  z-index: 0;
  display: block;
  width: 50px;
  height: 3px;
  background: rgba(51, 51, 51, 0.5); }

.icon {
  display: inline-block;
  vertical-align: middle; }
  .icon > use {
    fill: currentColor; }
  .icon path {
    fill: currentColor; }

.icon_testdrive {
  width: 24px;
  height: 24px; }

.icon_arrow {
  width: 19px;
  height: 19px; }

.subhead::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 0;
  display: block;
  width: 80px;
  height: 3px;
  background: rgba(229, 0, 0, 0.5);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.top {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #ce0000;
  border-radius: 3px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
  transition: all .5s; }
  .top::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    display: block;
    width: 20px;
    height: 11px;
    background-image: url(../img/style/top-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .top:hover {
    background-color: #e50000;
    box-shadow: none;
    cursor: pointer; }

.menu-nav a {
  display: block;
  width: 100%/9;
  height: 100px;
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 44px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  transition: all .75s; }
  .menu-nav a:hover {
    color: #fff;
    background-color: #e50000; }

.link, .icon-link {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: all .5s; }
  .link:hover, .icon-link:hover {
    cursor: pointer;
    color: #ce0000; }

.link {
  font-family: "ToyotaText" sans-serif;
  color: #333;
  border-bottom: 1px dotted #e50000; }
  .link:hover {
    border-bottom: none; }

.icon-link {
  font-family: "ToyotaDisplay" sans-serif;
  color: #e50000;
  text-decoration: none; }
  .icon-link span {
    border-bottom: 1px solid #e50000; }
  .icon-link span:hover {
    border-bottom: none; }

.more .icon-link_active span {
  border-bottom: none; }

.more .icon-link_active .icon_arrow {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.requisition__more .src {
  font-weight: 700;
  line-height: 32px;
  border-bottom: none; }

.offer__form {
  position: relative;
  width: 630px;
  margin-top: 39px;
  margin-left: auto;
  margin-right: auto; }
  .offer__form .button {
    position: absolute;
    right: 0;
    top: 0; }
  .offer__form .input {
    width: 100%; }

.button {
  display: block;
  width: 250px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #e50000;
  border: none;
  border-radius: 30px;
  transition: all .5s; }
  .button:hover {
    cursor: pointer;
    background-color: #ce0000; }

.input {
  display: block;
  height: 50px;
  padding-left: 26px;
  padding-right: 26px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 1px 3.2px rgba(0, 0, 0, 0.1); }
  .input:-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.4); }
  .input::placeholder {
    color: rgba(51, 51, 51, 0.4); }

@media (max-width: 1229px) {
  .menu-nav a {
    padding-right: 18px;
    padding-left: 18px;
    font-size: 16px; }
  .main__img {
    padding-top: 147px; }
  .main__img img {
    width: 580px; }
  .main__content {
    padding-left: 20px; }
  .main__profit p {
    margin-top: 36px; }
  .service__content {
    padding-left: 15px;
    padding-right: 15px; }
  .service__header p {
    font-size: 40px; }
  .service__header h3 {
    font-size: 16px; }
  .assortment {
    padding-bottom: 89px; }
    .assortment__card {
      width: 530px; }
  .card__equip p {
    font-size: 16px; } }

@media (max-width: 1199px) {
  .main::after {
    top: 43px;
    width: 50%;
    background-position: 0; }
  .main__img {
    padding-top: 167px;
    -ms-transform: translateX(-100px);
    transform: translateX(-100px); }
  .main__img img {
    width: 480px; } }

@media (max-width: 991px) {
  .navbar_active {
    height: 100px;
    box-shadow: none;
    transition: all .75s; }
  .menu-nav {
    position: relative;
    top: -1000px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: all .75s; }
  .menu-nav_active {
    z-index: 2;
    top: 0;
    margin-top: 23px;
    transition: all .75s; }
  .menu-nav_active a {
    height: auto;
    padding: 30px 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.1); }
  .menu-burger {
    display: block; }
  .main__content {
    padding-top: 40px; }
  .main__header::before {
    top: 40px; }
  .main__offer, .main .main__img {
    display: none; }
  .main__header h1 {
    font-size: 30px; }
  .main__header p {
    font-size: 22px; }
  .main__profit span {
    font-size: 32px; }
  .service .row:last-child {
    border-right: none; }
  .service__content {
    border-left: none; }
  .assortment {
    padding-top: 0;
    padding-bottom: 30px; }
    .assortment__content {
      padding-top: 20px;
      -ms-flex-direction: column;
      flex-direction: column; }
    .assortment__card {
      margin-top: 20px; }
  .subhead {
    font-size: 30px;
    line-height: 75.99px; }
  .offer__header p {
    font-size: 22px; }
  .contact {
    padding-top: 0; }
  .requisition__content {
    margin-top: 0; } }

@media (max-width: 767px) {
  .menu-burger {
    top: 10px; }
  .navbar {
    height: 70px; }
  .offer__form {
    width: auto; }
  .main__content {
    padding-bottom: 33px; }
  .main__profit span {
    font-size: 30px; }
  .main__profit p {
    margin-top: 26px; }
  .main__action {
    padding-top: 0; }
  .service__content {
    padding-top: 0;
    padding-bottom: 0; } }

@media (max-width: 575px) {
  .menu-nav_active a {
    padding: 18px 0; }
  .main__header p {
    font-size: 20px; }
  .main__profit span {
    margin-top: 10px;
    font-size: 26px; }
  .main__profit p {
    min-width: 150px;
    font-size: 10px; }
  .card {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .card__equip h3 {
    font-size: 20px; }
  .card__equip p {
    line-height: 16px; }
  .assortment__card {
    width: auto;
    height: 450px;
    padding-bottom: 19px; }
  .assortment__content img {
    width: 100%; }
  .subhead {
    font-size: 26px; }
  .offer__header p {
    font-size: 20px; }
  .offer__form .input {
    width: 250px;
    margin: 0 auto; }
  .offer__form .button {
    position: inherit;
    right: auto;
    top: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; } }
