.main__header {
	h1 {
		padding-top: 20px;
		color: map-get($color, light);
		font-size: map-get($font_sz, xl);
		line-height: 24px;
	}
	p {
		font-size: map-get($font_sz, lg);
		line-height: 24px;
	}	
}

.service__header {
	p {
		font-family: map-get($font_style, toyota_d);
		font-weight: 700;
		margin: 0;
		font-size: 50px;
		color: rgba(map-get($color, light), .25);
		line-height: 24px;	
	}
	h3 {
		padding-left: 10px;
		font-size: map-get($font_sz, md);
		text-transform: uppercase;
	}
}

.offer__header {
	p {
		margin-top: -15px;
		font-size: map-get($font_sz, lg);
		line-height: 24px;
		text-align: center;
	}	
}