.main__header {
	h1 {
		padding-top: 20px;
		color: $color-light;
		font-size: $font-sz-xl;
		line-height: 24px;
	}
	p {
		font-size: $font-sz-lg;
		line-height: 24px;
	}	
}

.service__header {
	p {
		font-family: $font-style-toyota_d;
		font-weight: 700;
		margin: 0;
		font-size: 50px;
		color: rgba($color-light, .25);
		line-height: 24px;	
	}
	h3 {
		padding-left: 10px;
		font-size: $font-sz-md;
		text-transform: uppercase;
	}
}

.offer__header {
	p {
		margin-top: -15px;
		font-size: $font-sz-lg;
		line-height: 24px;
		text-align: center;
	}	
}